# .prettierrc

printWidth: 80
tabWidth: 2

overrides:
- files: "*.js"
  options:
    singleQuote: true
    semi: true
    trailingComma: "all"
    parser: "babylon"
- files: "modules/**/*.js"
  options:
    singleQuote: true
    semi: true
    trailingComma: "all"
    parser: "babylon"
